<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.300.4" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.7.307.4" targetFramework="net472" />
  <package id="Dapper" version="2.1.28" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
</packages>
